.App {
  text-align: center;
  margin-top: 20px;
}

.new-select{
    width: 220px;
    height: 42px;
    display: inline-block;
    position: relative;
    margin: 5px;
}

.new-search-choices {
  position: absolute;
}

.new-search-match {
  position: relative;
}

.input-control {
  width: 100%;
  height: 32px;
  font-size:15px;
  box-sizing: border-box;
}

.input-control+span{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 15px;
  cursor: pointer;
  color: #ef9f78;
}

.ul-dropdown-menu {
  position: absolute;
  list-style: none;
  top: 15px;
  width: 100%;
  padding: 0px 15px;
  z-index: 100;
  text-align: left;
  /* border: 1px solid #d2b7d342; */
  background: white;
  box-shadow: 0px 0px 7px;
  box-sizing: border-box;
  max-height: 250px;
  line-height: 1.5;
  overflow: scroll;
}
ul li {
  border-bottom: 1px solid #adadad;
  display: inline-block;
}
ul li:hover {
  background: rgb(127, 185, 219);
  cursor: pointer;
}
.multi-select {
  position: absolute;
  white-space: nowrap;
  top: 7px;
  overflow-x: scroll;
  overflow-y: hidden;
  left: 2px;
  max-width: 90%;
}
.multi-select::-webkit-scrollbar {
  height: 4px;
}

/* .multi-select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */
 
.multi-select::-webkit-scrollbar-thumb {
  background-color: rgba(151, 129, 129, 0.863);
  outline: 1px solid slategrey;
}
.multi-select span {
  margin: 1px;
  /* border: 1px solid black; */
  background: #dbd7d7;
  color: #535353;
}

.multi-select span span {
  top: -5px;
    right: 0px;
    /* position: absolute; */
    background: transparent;
    color: #ff6262;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}